* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #f0f0f0;
}

body {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ITB {
  max-width: 100%;
  overflow: hidden;
  width: 1000px;
  border: 2px solid #333;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ITNB {
  max-width: 100%;
  overflow: hidden;
  width: 1000px;
  border: 2px solid #333;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}

.firstFloor {
  display: flex;
  margin-bottom: 20px;
}

.secondFloor {
  display: flex;
  margin-bottom: 20px;
}

.room {
  flex: 1;
  background-color: #dfe6e9;
  border: 1px solid #b2bec3;
  text-align: center;
  padding: 20px;
}

.staircase {
  width: 50px;
  background-color: #00b894;
  border: 1px solid #55efc4;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: white;
}

#stair1 {
  background-color: #680722;
  border: 1px solid #f5c23e;
  color: white;
  padding-top: 20px;
}

#stair2 {
  background-color: #680722;
  border: 1px solid #f5c23e;
  color: white;
  padding-top: 20px;
}

#stair3 {
  background-color: #680722;
  border: 1px solid #f5c23e;
  color: white;
  padding-top: 20px;
}
/* Styling for each room */
.room {
  background-color: #fbff00;
}

.bits_office {
  background-color: #0a6807;
  border: 1px solid #f5c23e;
  color: white;
  padding-top: 20px;
}

.IEATSC {
  background-color: #f30909;
  border: 1px solid #0a6807;
  color: white;
  padding-top: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.balcony {
  background-color: #f7f9fb;
  border: 1px solid #0a6807;
  color: black;
  padding: 20px;
}

.cr {
  background-color: #ffffff;
  border: 1px solid #f5c23e;
  color: rgb(0, 0, 0);
  padding: 20px;
}
